# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.code lab 1.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\msi user\Downloads\code lab 1\.idea\.idea.code lab 1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
